@import 'nib'
body
    background url('http://www.desktopwallpaperhd.net/wallpapers/17/2/backgrounds-texture-photos-creativity-patterns-drawings-textures-drawing-albums-colors-173986.jpg')
    
.contenedor
	max-height 600px
    
	margin-top 20px
    
   
.contenedor-titulo
    margin-top 15px

.tabla
    padding 15px
    max-height 450px;
    overflow-y auto
    overflow-x hidden
	
.tabla-elemento
	&.is-true
		background #A9F5D0
		color #04B404
		text-decoration line-through
	&.is-false
		background #F6CECE
		color red

.contenedor--mini
	margin 20px

.icons
	width 300px
	