@import 'nib'
@import 'nib/gradients'
.cosa
    color blue
body
	 background: linear-gradient(top, white, black);
     background no-repeat center center fixed
     background-size: cover
     
@import 'prueba2.styl'